.tech-icon + span {
  /* display: none !important; */
  width: 0px;
  overflow: hidden;
  transition: .6s all cubic-bezier(0.075, 0.82, 0.165, 1);

}
.tech-icon:hover + span {
  /* display: flex !important; */
  width:auto;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 4px 8px;
}

.hider{
  cursor: pointer;
}

.hider:hover > .tech-name{
  width:auto !important;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 4px 8px;
}

.tech-name:hover {
  width:auto !important;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 4px 8px;
}