/* @keyframes bouncer {
  from {transform: translateX(0px);}
  to {transform: translateX(50px);}
} */
@keyframes bouncer {
  from {margin-left: 0px;}
  to {margin-left: 50px;}
}


.vbounce {
  margin-left: 0px;
  animation-name: bouncer;
  animation-duration: .8s;
  animation-delay: 0ms;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  display: flex;

}